<a href="https://colab.research.google.com/github/zilioalberto/Ciencia_De_Dados/blob/main/Aula_03_Ciencia_de_Dados_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Alunos: Alberto Zilio
## Roni Pereira

In [5]:
 # 1. Importar a biblioteca pandas
import pandas as pd

In [8]:
 # 2. Carregar o dataset para o Colab
 # Peça para eles fazerem o upload do arquivo CSV para o ambiente do Colab (na aba de arquivos à esquerda)
 # e depois ajustar o nome do arquivo no código abaixo.
caminho_do_arquivo = '/content/tb_mercadoimob.csv' # <-- SUBSTITUIR AQUI

df = pd.read_csv(caminho_do_arquivo)

# Nova seção

In [9]:
# 3. Visualizar as primeiras linhas para entender a estrutura
print("--- Primeiras 5 linhas do dataset: ---")
display(df.head())

--- Primeiras 5 linhas do dataset: ---

,date_part,id,titulo,descricao,area,data_anuncio,id_fonte,num_andares,num_vagas_garagem,num_suites,...,complemento,logradouro,numero,precisao,ponto,lat,lon,data_tabela,is_outlier,latlong
0,12.0,7784,Florianópolis - Apartamento Padrão - Trindade,Excelente apartamento no bairro Trindade de 3 ...,91.0,2020-04-22 14:40:19,1189,0,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0.0,NaN
1,12.0,11420,Apartamento para venda possui 46 metros quadra...,O apartamento está localizado no bairro Centro...,46.0,2022-03-19 15:09:57,NEOV9P,7,2,1,...,NaN,Rua Irmão Joaquim,226.0,4.0,0101000020E61000002060ADDA354548C0755776C1E096...,-27.589367,-48.540706,2022-12-28,0.0,"-27.589367,-48.540706"
2,12.0,11432,"Apartamento com 3 dormitórios à venda, 75 m² p...",Ótimo Apartamento com 03 quartos à Venda no Ce...,75.0,2022-02-09 03:51:58,AP0234,0,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0.0,NaN
3,12.0,11444,APARTAMENTOFLORIANÓPOLIS,Apartamento Mobiliado com Vista Mar no Centro ...,80.0,2022-02-25 15:08:44,AP00443,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0.0,NaN
4,12.0,11445,Apartamento para venda com 3 quartos em Centro...,"Apartamento com 3 dormitórios, sendo 1 suíte, ...",77.0,2022-02-20 14:30:14,22957,0,2,1,...,NaN,Avenida Rio Branco,476.0,4.0,0101000020E6100000AE9CBD33DA4648C053211E899797...,-27.592156,-48.553534,2022-12-28,0.0,"-27.592156,-48.553534"

In [10]:
 # 4. Obter um resumo das informações (tipos de dados e valores não nulos)
print("\n--- Informações gerais do dataset: ---")
df.info()

--- Informações gerais do dataset: ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4886 entries, 0 to 4885
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_part          4886 non-null   float64
 1   id                 4886 non-null   int64
 2   titulo             4886 non-null   object
 3   descricao          4884 non-null   object
 4   area               4886 non-null   float64
 5   data_anuncio       4886 non-null   object
 6   id_fonte           4886 non-null   object
 7   num_andares        4886 non-null   int64
 8   num_vagas_garagem  4886 non-null   int64
 9   num_suites         4886 non-null   int64
 10  num_banheiros      4886 non-null   int64
 11  num_quartos        4886 non-null   int64
 12  valor              4885 non-null   float64
 13  iptu               3953 non-null   float64
 14  taxa_condominial   4236 non-null   float64
 15  contato            4118 non-null   float64
 16  link_anuncio       4886 non-null   object
 17  fonte              4886 non-null   object
 18  tipo_imovel        4886 non-null   object
 19  tipo_negocio       4886 non-null   object
 20  tipo_uso           4886 non-null   object
 21  estado_construcao  1 non-null      float64
 22  imovel_lancamento  4886 non-null   bool
 23  bl_temporada       0 non-null      float64
 24  data_raspagem      4886 non-null   object
 25  hash               4885 non-null   object
 26  bl_ativo           4885 non-null   object
 27  estado_sigla       4885 non-null   object
 28  cidade             4885 non-null   object
 29  bairro_tratado     4885 non-null   object
 30  cep                4883 non-null   float64
 31  complemento        1370 non-null   object
 32  logradouro         3377 non-null   object
 33  numero             2133 non-null   float64
 34  precisao           2327 non-null   float64
 35  ponto              2327 non-null   object
 36  lat                2327 non-null   float64
 37  lon                2327 non-null   float64
 38  data_tabela        4885 non-null   object
 39  is_outlier         4885 non-null   float64
 40  latlong            2327 non-null   object
dtypes: bool(1), float64(14), int64(6), object(20)
memory usage: 1.5+ MB

In [11]:
# 5. Obter estatísticas descritivas para colunas numéricas (ajuda a ver médias, desvios e possíveis outliers)
print("\n--- Estatísticas Descritivas: ---")
display(df.describe())

--- Estatísticas Descritivas: ---

,date_part,id,area,num_andares,num_vagas_garagem,num_suites,num_banheiros,num_quartos,valor,iptu,taxa_condominial,contato,estado_construcao,bl_temporada,cep,numero,precisao,lat,lon,is_outlier
count,4886.0,4886.000000,4886.000000,4886.000000,4886.000000,4886.000000,4886.000000,4886.000000,4.885000e+03,3.953000e+03,4.236000e+03,4.118000e+03,1.0,0.0,4.883000e+03,2133.000000,2327.000000,2327.000000,2327.000000,4885.0
mean,12.0,28459.476873,163.453541,1.624028,1.774662,1.166598,2.598240,2.344249,1.420176e+06,8.834475e+03,2.337669e+03,4.872647e+10,2.0,NaN,8.801531e+07,433.537271,3.698324,-27.591407,-48.550919,0.0
std,0.0,8985.256320,333.193824,4.121152,3.852099,1.142855,1.999711,1.351520,5.810358e+06,1.925054e+05,2.907618e+04,2.665573e+09,NaN,NaN,3.763147e+03,526.800307,0.641172,0.003422,0.005425,0.0
min,12.0,7784.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.400000e+02,0.000000e+00,0.000000e+00,1.194895e+10,2.0,NaN,8.801000e+07,0.000000,1.000000,-27.606396,-48.562050,0.0
25%,12.0,19584.000000,71.000000,0.000000,1.000000,0.000000,1.000000,2.000000,4.900000e+05,1.760000e+02,5.477500e+02,4.899129e+10,2.0,NaN,8.801504e+07,112.000000,4.000000,-27.593769,-48.555425,0.0
50%,12.0,33186.000000,115.500000,0.000000,1.000000,1.000000,2.000000,3.000000,9.980000e+05,1.068000e+03,8.520000e+02,4.899635e+10,2.0,NaN,8.801533e+07,222.000000,4.000000,-27.591084,-48.550186,0.0
75%,12.0,35937.250000,173.000000,0.000000,2.000000,2.000000,4.000000,3.000000,1.800000e+06,2.738000e+03,1.332500e+03,4.899933e+10,2.0,NaN,8.801564e+07,605.000000,4.000000,-27.589296,-48.546668,0.0
max,12.0,38660.000000,5776.000000,19.000000,75.000000,7.000000,34.000000,8.000000,3.900000e+08,5.416000e+06,1.100000e+06,5.199268e+10,2.0,NaN,8.812500e+07,10122.000000,4.000000,-27.578754,-48.534648,0.0

In [12]:
 # --- TRATANDO VALORES AUSENTES (NaN) --
# 1. Contar quantos valores ausentes existem em cada coluna
print("--- Contagem de valores ausentes por coluna: ---")
print(df.isnull().sum())

--- Contagem de valores ausentes por coluna: ---
date_part               0
id                      0
titulo                  0
descricao               2
area                    0
data_anuncio            0
id_fonte                0
num_andares             0
num_vagas_garagem       0
num_suites              0
num_banheiros           0
num_quartos             0
valor                   1
iptu                  933
taxa_condominial      650
contato               768
link_anuncio            0
fonte                   0
tipo_imovel             0
tipo_negocio            0
tipo_uso                0
estado_construcao    4885
imovel_lancamento       0
bl_temporada         4886
data_raspagem           0
hash                    1
bl_ativo                1
estado_sigla            1
cidade                  1
bairro_tratado          1
cep                     3
complemento          3516
logradouro           1509
numero               2753
precisao             2559
ponto                2559
lat                  2559
lon                  2559
data_tabela             1
is_outlier              1
latlong              2559
dtype: int64

In [13]:
 # Para colunas de texto (categóricas), pode-se preencher com a moda (valor mais frequente) ou uma constante como 'Desconhecido'.
 # Definimos que substiutiriamos por Desconhecido

if 'descricao' in df.columns and df['descricao'].isnull().any():
  moda_descricao = "Desconhecido"
df['descricao'].fillna(moda_descricao, inplace=True)
print(f"Valores ausentes em 'descrição' preenchidos com a moda: {moda_descricao}")

Valores ausentes em 'descrição' preenchidos com a moda: Desconhecido

/tmp/ipython-input-3930692605.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['descricao'].fillna(moda_descricao, inplace=True)

In [14]:
# Estratégia B: Preencher valores ausentes do iptu com um valor específico (0)

if 'iptu' in df.columns and df['iptu'].isnull().any():
 moda_iptu = 0.0
 df['iptu'].fillna(moda_iptu, inplace=True)
 print(f"\nValores ausentes em 'iptu' preenchidos com a mediana: {moda_iptu}")

Valores ausentes em 'iptu' preenchidos com a mediana: 0.0

/tmp/ipython-input-1169123312.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['iptu'].fillna(moda_iptu, inplace=True)

In [15]:
# Estratégia B: Preencher valores ausentes do "Valor" com um valor específico (0)

if 'valor' in df.columns and df['valor'].isnull().any():
 moda_valor = 0.0
 df['valor'].fillna(moda_valor, inplace=True)
 print(f"\nValores ausentes em 'valor' preenchidos com a mediana: {moda_valor}")

Valores ausentes em 'valor' preenchidos com a mediana: 0.0

/tmp/ipython-input-3057831071.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['valor'].fillna(moda_valor, inplace=True)

In [16]:
# Estratégia B: Preencher valores ausentes do "Taxa_condominial" com um valor específico (0)

if 'taxa_condominial' in df.columns and df['taxa_condominial'].isnull().any():
 moda_taxa_condominial = 0.0
 df['taxa_condominial'].fillna(moda_taxa_condominial, inplace=True)
 print(f"\nValores ausentes em 'taxa_condominial' preenchidos com valor 0: {moda_taxa_condominial}")

Valores ausentes em 'taxa_condominial' preenchidos com valor 0: 0.0

/tmp/ipython-input-488089106.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['taxa_condominial'].fillna(moda_taxa_condominial, inplace=True)

In [17]:
# Remover as colunas que não terão impacto na nossa analise: 'contato' do DataFrame

df.drop(columns=['contato'], inplace=True)
df.drop(columns=['estado_construcao'], inplace=True)
df.drop(columns=['date_part'], inplace=True)
df.drop(columns=['id_fonte'], inplace=True)
df.drop(columns=['link_anuncio'], inplace=True)
df.drop(columns=['fonte'], inplace=True)
df.drop(columns=['tipo_uso'], inplace=True)
df.drop(columns=['imovel_lancamento'], inplace=True) # Removido pois somente existia um dado
df.drop(columns=['bl_temporada'], inplace=True)
df.drop(columns=['data_raspagem'], inplace=True)
df.drop(columns=['hash'], inplace=True)
df.drop(columns=['bl_ativo'], inplace=True)
df.drop(columns=['estado_sigla'], inplace=True)
df.drop(columns=['cidade'], inplace=True)
df.drop(columns=['bairro_tratado'], inplace=True)
df.drop(columns=['complemento'], inplace=True)
df.drop(columns=['precisao'], inplace=True)
df.drop(columns=['ponto'], inplace=True)
df.drop(columns=['data_tabela'], inplace=True)
df.drop(columns=['is_outlier'], inplace=True)
df.drop(columns=['logradouro'], inplace=True)
df.drop(columns=['numero'], inplace=True)
df.drop(columns=['lat'], inplace=True)
df.drop(columns=['lon'], inplace=True)
df.drop(columns=['latlong'], inplace=True)

In [18]:
 # Estratégia A: Remover linhas que contêm qualquer valor ausente
 # Removeremos as linhas que estão sem o CEP (3 registros somente)
df.dropna(subset=['cep'], inplace=True)

In [19]:
#Vamos deletar os dados correspondentes a aluguel na coluna tipo_negocio
df = df[df['tipo_negocio'] != 'Aluguel']

# Nova seção

# Nova seção

In [20]:
# Salvar o arquivo para verificar as alterações:
df.to_excel("dados_atualizados.xlsx", index=False)

In [21]:
# Criando um coluna que indica se o imóvel tem vista para o mar


df['vista_Mar'] = df['titulo'].str.contains('Vista Mar|vista para o mar |Vista para mar|vista para mar ', case=False, na=False) | \
                  df['descricao'].str.contains('Vista Mar|vista para o mar', case=False, na=False)

print("\n--- Primeiras 5 linhas do dataset com a nova coluna 'vista_Mar': ---")
display(df.head())

--- Primeiras 5 linhas do dataset com a nova coluna 'vista_Mar': ---

,id,titulo,descricao,area,data_anuncio,num_andares,num_vagas_garagem,num_suites,num_banheiros,num_quartos,valor,iptu,taxa_condominial,tipo_imovel,tipo_negocio,cep,vista_Mar
0,7784,Florianópolis - Apartamento Padrão - Trindade,Excelente apartamento no bairro Trindade de 3 ...,91.0,2020-04-22 14:40:19,0,2,1,1,3,1160361.0,0.0,0.0,Apartamento,Venda,88010400.0,False
1,11420,Apartamento para venda possui 46 metros quadra...,O apartamento está localizado no bairro Centro...,46.0,2022-03-19 15:09:57,7,2,1,2,1,460000.0,600.0,700.0,Apartamento,Venda,88020620.0,False
2,11432,"Apartamento com 3 dormitórios à venda, 75 m² p...",Ótimo Apartamento com 03 quartos à Venda no Ce...,75.0,2022-02-09 03:51:58,0,2,1,2,3,310000.0,0.0,600.0,Apartamento,Venda,88020302.0,False
3,11444,APARTAMENTOFLORIANÓPOLIS,Apartamento Mobiliado com Vista Mar no Centro ...,80.0,2022-02-25 15:08:44,0,1,0,2,3,688000.0,1600.0,850.0,Apartamento,Venda,88010090.0,True
4,11445,Apartamento para venda com 3 quartos em Centro...,"Apartamento com 3 dormitórios, sendo 1 suíte, ...",77.0,2022-02-20 14:30:14,0,2,1,2,3,1070000.0,1300.0,999.0,Apartamento,Venda,88015201.0,False

In [ ]:
import pandas as pd

caminho_do_arquivo = '/content/tb_mercadoimob.csv'
df = pd.read_csv(caminho_do_arquivo)

In [ ]:
# --- TRATANDO VALORES AUSENTES (NaN) --
# 1. Contar quantos valores ausentes existem em cada coluna
print("--- Contagem de valores ausentes por coluna: ---")
print(df.isnull().sum())

if 'descricao' in df.columns and df['descricao'].isnull().any():
  moda_descricao = "Desconhecido"
  df['descricao'] = df['descricao'].fillna(moda_descricao) # Use assignment instead of inplace=True

if 'iptu' in df.columns and df['iptu'].isnull().any():
  moda_iptu = 0.0
  df['iptu'] = df['iptu'].fillna(moda_iptu) # Use assignment instead of inplace=True

if 'valor' in df.columns and df['valor'].isnull().any():
  moda_valor = 0.0
  df['valor'] = df['valor'].fillna(moda_valor) # Use assignment instead of inplace=True

if 'taxa_condominial' in df.columns and df['taxa_condominial'].isnull().any():
  moda_taxa_condominial = 0.0
  df['taxa_condominial'] = df['taxa_condominial'].fillna(moda_taxa_condominial) # Use assignment instead of inplace=True

# Remover as colunas que não terão impacto na nossa analise: 'contato' do DataFrame
columns_to_drop = ['contato', 'estado_construcao', 'date_part', 'id_fonte', 'link_anuncio', 'fonte', 'tipo_uso', 'imovel_lancamento', 'bl_temporada', 'data_raspagem', 'hash', 'bl_ativo', 'estado_sigla', 'cidade', 'bairro_tratado', 'complemento', 'precisao', 'ponto', 'data_tabela', 'is_outlier', 'logradouro', 'numero', 'lat', 'lon', 'latlong']
df.drop(columns=columns_to_drop, inplace=True)

# Remover linhas que contêm qualquer valor ausente no 'cep'
df.dropna(subset=['cep'], inplace=True)

#Vamos deletar os dados correspondentes a aluguel na coluna tipo_negocio
df = df[df['tipo_negocio'] != 'Aluguel']

print("\n--- Contagem de valores ausentes por coluna após tratamento: ---")
print(df.isnull().sum())

In [ ]:
df['vista_Mar'] = df['titulo'].str.contains('Vista Mar|vista para o mar', case=False, na=False) | \
                  df['descricao'].str.contains('Vista Mar|vista para o mar', case=False, na=False)

print("\n--- Primeiras 5 linhas do dataset com a nova coluna 'vista_Mar': ---")
display(df.head())